

}
/* table {
    size-adjust: 100%;
    display: inline;
    position: relative;
   left: 19%; 
} */


/* div {
    background-color: rgba(66, 66, 66, 0.582);
    border: rgba(0, 0, 0, 0.315) solid 10px;
    margin-bottom: -9%;
    top: 392px;
    position: fixed;
    width: 100%;
    
} */


/* tr {align-items: center;
    align-content: center;
    display:block;
position: relative;     */

/* span {

    display:inline;
}
td {    width: 33.33%;

    align-content: center;
    display: inline-block;
    
}
table button{
    width: 100px;
    height:55px
}
tr {
    align-content: stretch;
    
} */