body {
    background-image: url(../images/coding-18.jpg);
    background-size: 100%;
    margin-top: 90px;
    margin-bottom: 83px;
    background-repeat: no-repeat;
    background-attachment: fixed;  

}
span{
    color: rgba(253, 253, 253, 0.794);
}
#maindiv {
    margin-left: 20%;
    margin-right: 15%;
    font-size: 20px;
    margin-top: 50;
}
.copyright1 {
    width: 100%;
    height: 69px;
    bottom: -2%;
    background-color: rgba(0 16 23 );
    position: fixed;
    text-decoration-color: seashell;
    color: seashell;
    text-align:center;
    line-height: 65Px;
    left: 0%;
}
#home1 {
    padding: 1px;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 00;
    left: 00;
    font-size: 40px;
    background-color:rgba(0 16 23 ); 
    text-align: end;
    display: inline-block;
    line-height: 84px;
    cursor: auto;
}
#button{

position: fixed;
 width: 100px;
 bottom: 30px;
 right: 50px;
 opacity:0.3;
 
}
#button:hover{
    opacity: 1.0;
}
#menubar {
    opacity: 0.3;
    position: fixed;
    width: 100px;
    left: 7px;
    
}
#menubar:hover{opacity: 0.9;}
ul {
    display: inline;
}
ul ul:hover {background: rgba(19, 3, 165, 0.356);
    border-radius: 20px;
}
ul ul {display: inline-block;}
ul ul:hover ul {display: block;}
ul ul ul {
    position: fixed;
    width: 200px;
    display: none;
    left: 67px;
  }

ul ul ul li { 
  background: rgba(35, 144, 184, 0.363); 
  display: block;
}

ul ul ul li a {display:block !important;} 
ul ul ul li:hover {background: rgba(2, 45, 62, 0.6) ;
border-radius: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.listi {
    width: 200px;
    height: 60px;
    color: ivory;
    font-size: 20pt;
}
